<div local-class="nav-container">

  <div local-class="nav-clan-name">
    {{#link-to "application" local-class="nav-text"}}{{fa-icon "usd"}}aN¡tY{{/link-to}}
  </div>
  <div local-class="nav-item">
    {{#link-to "application" local-class="nav-text"}}{{fa-icon "home"}} Home{{/link-to}}
  </div>
  <div local-class="nav-item">
    {{#link-to "routes.news" local-class="nav-text"}}{{fa-icon "newspaper-o"}} News{{/link-to}}
  </div>
  <div local-class="nav-item">
    {{#link-to "routes.scores" local-class="nav-text"}}{{fa-icon "archive"}} Scores{{/link-to}}
  </div>
  <div local-class="nav-item">
    {{#link-to "routes.players" local-class="nav-text"}}{{fa-icon "users"}} Players{{/link-to}}
  </div>
</div>
