<div local-class="score-container">

  <div local-class="title">
    <span local-class="teamA">
      {{match.teams.[0].name}}
      <span local-class="score">{{match.teams.[0].rounds}}</span>
    </span>
    <span local-class="vs">VS</span>
    <span local-class="teamB">
      <span local-class="score">{{match.teams.[1].rounds}}</span>
      {{match.teams.[1].name}}
    </span>
  </div>

  <div local-class="details">
    <span local-class="">{{moment-format match.date 'D.M.YYYY MM:HH'}}</span>
    <span local-class="">Rounds: {{roundsPlayed}}</span>
    <span local-class="">{{match.type}} on {{match.map}}</span>
  </div>

  <div local-class="player-table">
    {{player-table players=match.teams.[0].players}}
    {{player-table players=match.teams.[1].players reverse=true}}
  </div>

</div>
